nvim/lazy-lock.json
nvim/.config/nvim/lazy-lock.json
nvim/.config/nvim/lua/config/keys.lua
opencode/.config/opencode/package-lock.json
pi/.pi/agent/sessions/
pi/.pi/agent/auth.json
pi/.pi/agent/extensions/*/node_modules/
herdr/.config/herdr/herdr-server.log
herdr/.config/herdr/session.json
/opencode/.config/opencode/service.json
/herdr/.config/herdr/herdr-client.log
